@using LibraryDAL.Entities
@{
    ViewData["Title"] = "All books";
}
@model List<Book>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
    }
</style>

<h2>Library books list</h2>
<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.Id</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
        </tr>
    }
</table>
